@reference "tailwindcss";

.container {
  @apply absolute right-5 top-1/2 border border-gray-400 flex p-2 flex-col;
  transform: translateY(-50%);
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
}
.items{
    @apply p-2 cursor-pointer w-12 flex justify-center items-center text-xl;
}
.itmes:hover{
    @apply bg-blue-100 border rounded;
}
.items.active{
    @apply bg-blue-300 rounded;
}
